
*{
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #414651;
}
.App{
    
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

/*  sidebar css */


.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  border-right: 1px solid #e0e0e0;
}

.navigation {
    width: 100%;
    display: flex;
    padding-top:24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    
}

.nav-head {
    width: 100%;
    display: flex;
    padding: 0px var(--spacing-2xl, 20px);
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
    
}



.input-dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #D5D7DA;
  background: #FFF;


}



.dropbtn {
   width: 100%;
    display: flex;
    justify-content: space-between;
    padding:8px 12px;
    align-items: center;
    gap:8px;
    border:none;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);

}
.dropbtn span{
overflow: hidden;
color: #181D27;
text-overflow: ellipsis;
font-size: 16px;
font-style: normal;
font-weight: 400;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f5f5f5;
}


.nav-lists {
    width: 100%;
    padding: 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-el {
    width: 100%;
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    text-decoration: none;
}
.list-icon{
    fill: #414651;
}
.active{
border-radius: var(--radius-md, 8px);
border: 2px solid rgba(255, 255, 255, 0.12);
background: #1570EF;
color: white;
box-shadow: 0px 0px 0px 1px rgba(10, 13, 18, 0.18) inset, 0px -2px 0px 0px rgba(10, 13, 18, 0.05) inset, 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
}
.active .list-icon{
    fill: white;
}
.active .list-name{
    color: white;
}


.list-name {
    font-size: 16px;
    font-weight: 600;
}

.footer-nav {
    width: 100%;
  border-top: 1px solid #e0e0e0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hamburger{
    display: none;
}
/* repositories css */

.repositories-container {
   margin-left: 240px;
    padding: 16px 32px; /* Add some padding for spacing */
    font-family: Arial, sans-serif;
    
  }
  
  /* Header Section */
  .header-container {
    display: flex;
    padding: 20px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;  
    border: 1px solid #E9EAEB;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(10, 13, 18, 0.05));
  }
  
  .repos-header {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .repositories-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
  }
  
  .head-buttons {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .repositories-head h1 {
    color: #181D27;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
  
  .repositories-head p {
    color: #414651;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  
 
  .search-container {
    display: flex;
    width: 100%;
    padding: 10px 14px;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid #D5D7DA;
    background: #FFF;
    box-shadow: 0px 0px 0px 1px var(--Colors-Effects-Shadows-shadow-skeumorphic-inner-border, rgba(10, 13, 18, 0.18)) inset, 0px -2px 0px 0px var(--Colors-Effects-Shadows-shadow-skeumorphic-inner, rgba(10, 13, 18, 0.05)) inset, 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(10, 13, 18, 0.05));
  }
  
  .search-input {
    display: flex;
    padding: 0px 2px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
  }
  .btn{
    border-radius:8px;
    box-shadow: 0px 0px 0px 1px  rgba(10, 13, 18, 0.18) inset, 0px -2px 0px 0px rgba(10, 13, 18, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .refresh-button {
    display: flex;
    padding: 10px 14px;
    gap: 4px;
    border: 1px solid #D5D7DA;
    background: #FFF;
    font-size: 14px;
    font-weight: 400px;
  }
  
  .add-repo-button {
    display: flex;
    padding: 10px 14px;
    gap: 4px;
    border: 2px solid rgba(255, 255, 255, 0.12);
    background: #1570EF;
    color: #FFF;
    font-size: 14px;
    font-weight: 400px;
  }
  

  
  /* List of Repositories */
  .repositories-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: var(--radius-xl, 12px);
    border: 1px solid #E9EAEB;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(10, 13, 18, 0.05));
  }

/* Individual Repo Styles */
.repo {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    padding: 24px 0px;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #D5D7DA;
  }
  
  .repo-container {
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px 24px;
  }
  
  .repo:last-child {
    border-bottom: none;
  }
  
  .repo:hover {
    border-bottom: 1px solid #D5D7DA;
background: #F5F5F5;
  }
  
  .repo-head {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .repo-head h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  
  .badge {
    display: flex;
    padding:2px 10px 2px 8px;
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid #B2DDFF;
    background: #EFF8FF;
    font-size: 14px;
    font-weight: 400;

  }
  
  .repo-desc {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .platform, .size, .last-update {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

  }
  
/* Left Of container css */
.SignIn-left-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cards{
    width: 474px;
height: 322px;

  }
  .primary-card {
    width: 447px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 24px;
background: var(--Primary-white, #FFF);
box-shadow: 0px 0px 24px 0px rgba(8, 23, 53, 0.16);
  }
  
  .primary-card h3 {
    margin: 0px 111px 20px 22px;
    padding-top: 21px;
  }
  .primary-card hr{
    height: 1px;
    background: #E6E8F0;
    margin-bottom: 22.4px;
  }
  .stats {
    display: flex;
   margin-left: 20px;
   margin-right: 28.5px;
   justify-content: space-between;
  }
  
  .stat-item {
    display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
  }
  .stat-item .value{
    color: var(--Dark-color, #081735);
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
  }
  .stat-item .label{
    color: #171717;
font-size: 14px;
font-weight: 400;
  }

  .card.secondary {
    position: relative;
    left: 210px;
    bottom: 20px;
    width: 265px;
    height: 164px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(8, 23, 53, 0.16);
    padding: 31.8px 34.2px 15.2px 15.4px;
      }
  .secondary-card-top{
    display: flex;
    justify-content: space-between;
  }
  .issues-fixed{
    display: flex;
    flex-direction: column;
    gap: 8.38px;
  }
  .issues-fixed h4 {
    color: #171717;
    font-size: 14px;
    font-weight: 700;

  }
  
  .issues-fixed .count {
    color: #081735;
font-size: 32px;
font-weight: 700;
  }
  
  .growth {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .growth small {
    font-size: 0.7rem;
    color: #888;
  }



  /* SigninOption css*/
  .signin-btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signin-btn:hover {
    background-color: #f0f0f0;
  }
  
  .signin-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;

  }
  .background-shape img{
    position: absolute;
    left: 0px;
    bottom: 0px;
  }

  /*Signin css */

  .app-container {
    display: flex;
    align-items: center;
  }
  

  
  .signin-container {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
  }
  .signin-container-top{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
  }
  .signin-content{
    display: flex;
    padding: 36px 24px;
    flex-direction: column;
    gap: 20px;
  }
  .signin-header{
    display: flex;
    width: 624px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }
  .signin-header h2{
    font-size: 32px;
    font-weight: 600px;
  }
  .signin-tabs {
    display: flex;
    align-items: center;
    gap: 2px;
    align-self: stretch;
    justify-content: center;
  }
  

  .signin-tabs .btn{
    padding: 16px 14px;
    width: 211px;
    height: 60px;
    border: 0px;
    font-size: 20px;
    font-weight: 600px;
  }
  
  .signin-tabs .active {
    
    background: #1570EF;
    box-shadow: 0px 0px 0px 1px rgba(10, 13, 18, 0.18) inset, 0px -2px 0px 0px  rgba(10, 13, 18, 0.05) inset, 0px 1px 2px 0px rgba(10, 13, 18, 0.05);

  }
  
  .options {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    
  }
  
  .option {
    display: flex;
    width: 446px;
    padding: 16px 100px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #D8DAE5;
    background: #FFF;
  }
 
  .option-label{
    color: #171717;
font-size: 16px;
font-weight: 600;
  }
.privacy-policy{
color: #181D27;
text-align: center;
font-size: 16px;
font-weight: 400;
}

.privacy-policy a{
font-weight: 700;
text-decoration: none;
}




/* mobile view */
/* repo css */



/*signin css */

@media (max-width: 450px) {
    .SignIn-left-container {
      display: none;
    }
  
    .signin-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      flex: 1 0 100%; 
    }
    .repos-header{
        display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
align-self: stretch;
    }
    .repo-head h2{
        font-size: 18px;
    }
    .repo-desc{
        font-size: 14px;
    }
    .sidebar{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }
    .sidebar.open {
        top: 0;
        display: flex;
height: 456px;
justify-content: center;
padding: 16px;
gap: 0px;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
align-self: stretch;
border-bottom: 1px solid #E9EAEB;
background: #FFF;
    }
    .open .input-dropdown{
        display: block;
    } 
    .open .nav-lists{
        display: block;
    } 
    .open .footer-nav{
        display: block;
        border: none;
        padding: 0px;
        padding-left:16px;

    } 
  .hamburger{
        display: block;
        position: absolute;
        top: 35px;
        right: 18px;
    }
    .repositories-container{
        margin-left: 0px;
        margin-top: 60px;
        padding: 0px;
    }
    .sidebar{
        position: absolute;
        top: 0px;
    }
    .input-dropdown,.nav-lists,.footer-nav{
        display: none;
    }
    .open .navigation{
        padding-top: 0px;
    }
    
  }

  